# PHASE I PROJECT

 # Topic : Niche Identifucation for Microsoft Movie Production

## Objective of the project
The main objective of the project is to identify movie genres on demand for the purpose of investing in production industry.

## Problem Statement 
Movie production is a large capital investment; like any other investiment, it comes with a potential risk. Choice of a the type of movie to invest in is important to avoid capital loss. In order to mitigate the risk, it is important to have analytical insight on the movie market behaviour. Understand the most viewed genre to capature more customers. Thus making a profitable business

In [6]:
import pandas as pd 
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
# %------ inline

## Data Understanding
The data provides has historical information from different movie producton studio, the rating of the movies, actors, generes, cost of proction and the revenue both from offshore and domestic.The data set will suited for the project. All the requred data set are avalable. Further, the date set is large enough to provide accurate infomation 
.

In [7]:
!ls

Microsoft-MovieProduction.ipynb
bom.movie_gross.csv
bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
learn-co-curriculum dsc-phase-1-project master zippedData.zip
name.basics.csv
rt.movie_info.tsv
rt.movie_info.tsv.gz
rt.reviews.tsv
rt.reviews.tsv.gz
title.akas.csv
title.basics.csv
title.crew.csv
title.principals.csv
title.ratings.csv
tmdb.movies.csv
tmdb.movies.csv.gz
tn.movie_budgets.csv
tn.movie_budgets.csv.gz

In [8]:
Revenue_File= pd.read_csv("bom.movie_gross.csv.gz",)
Budget_file= pd.read_csv("tn.movie_budgets.csv")
df3=pd.read_csv("name.basics.csv")
Genre_File=pd.read_csv("title.basics.csv")
df6=pd.read_csv("title.crew.csv")
df7=pd.read_csv("title.principals.csv")
Movie_rating=pd.read_csv("title.ratings.csv")
Movie_vote=pd.read_csv("tmdb.movies.csv")

In [33]:
Budget_file.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

### Revenue_File
This file has key element which investore need to know. the cost of production and the revenue collected from both domestic amd offshore customer. it will be important for market target as well

In [10]:
Revenue_File.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [11]:
#df3.head()
Revenue_File.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [12]:
Revenue_File['foreign_gross'] = Revenue_File['foreign_gross'].str.replace(',',"").astype(float)# changing foreign gross data type to float

### Genre_File
This file has grenre of the movies, thus will be used for categorizing data,.

In [13]:
Genre_File.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [14]:
#df6.head()

In [15]:
#df7.head()

### Movie_rating
This file provide viewers satisfiction on the movie content. Thus it is necessary for a microsoft to understand the type of movie to bet on.

In [16]:
Movie_rating.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [17]:
Movie_vote.head() # Tabele contain vote rating for the movies which is import to understand the customers likes and dislikes

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [18]:
Movie_vote[['id','title','vote_average']]

           id                                         title  vote_average
0       12444  Harry Potter and the Deathly Hallows: Part 1           7.7
1       10191                      How to Train Your Dragon           7.7
2       10138                                    Iron Man 2           6.8
3         862                                     Toy Story           7.9
4       27205                                     Inception           8.3
...       ...                                           ...           ...
26512  488143                         Laboratory Conditions           0.0
26513  485975                               _EXHIBIT_84xxx_           0.0
26514  381231                                  The Last One           0.0
26515  366854                                  Trailer Made           0.0
26516  309885                                    The Church           0.0

[26517 rows x 3 columns]

In [19]:
Revenue_File.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [20]:
Revenue_File['domestic_gross'].describe()

count    3.359000e+03
mean     2.874585e+07
std      6.698250e+07
min      1.000000e+02
25%      1.200000e+05
50%      1.400000e+06
75%      2.790000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

In [21]:
Revenue_File['domestic_gross'].mean()

28745845.06698422

### Identiying Missing Values in the Files

In [22]:
Revenue_File.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [23]:
Budget_file.isna().sum().sum()

0

In [24]:
Genre_File.isna().sum().sum()

37168

In [25]:
Movie_rating.isna().sum().sum()

0

In [26]:
Movie_vote.isna().sum().sum()

0

### Finxing Missing Values

#### Finding the midian values for columns domestic_gross and  foreign_gross in "Revenue_File"

In [27]:
domestic_median = Revenue_File['domestic_gross'].median()  
foreign_median = Revenue_File['foreign_gross'].median()

#### Replacing the mising values in in the "Revenue_File" and renaming it to Revenue_File_C not to change the original content

In [28]:
Revenue_File_C=Revenue_File.fillna({'domestic_gross':'domestic_median',
                                    'foreign_gross':'foreign_median'
                                   })
Revenue_File_C

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,foreign_median,2018
3383,Edward II (2018 re-release),FM,4800.0,foreign_median,2018
3384,El Pacto,Sony,2500.0,foreign_median,2018
3385,The Swan,Synergetic,2400.0,foreign_median,2018
3386,An Actor Prepares,Grav.,1700.0,foreign_median,2018

In [29]:
Revenue_File_C.isna().sum()

title             0
studio            5
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [30]:
Genre_File

Revenue_File.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [31]:
Budget_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [61]:
production_Meadian=Budget_file['production_budget'].median()
domestic_Meadian=Budget_file['domestic_gross'].median()
worldwide_Meadian=Budget_file['worldwide_gross'].median()

In [ ]:
Budget_file.head()

#### Removing comma"," and "$" from the columuns :production_budget,domestic_gross and worldwide_gross gross then converting the colunms into float

In [37]:
Budget_file['production_budget'] = Budget_file['production_budget'].str.replace(',',"")

In [38]:
Budget_file['production_budget'] = Budget_file['production_budget'].str.replace('$',"")

C:\Users\Thomas.Okiwi\AppData\Local\Temp\ipykernel_12076\3128724055.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Budget_file['production_budget'] = Budget_file['production_budget'].str.replace('$',"")

In [39]:
Budget_file['production_budget'] = Budget_file['production_budget'].str.replace(',',"").astype(float)

In [40]:
#Budget_file['domestic_gross'] = Budget_file['domestic_gross'].str.replace('$',"").astype(float)
Budget_file['worldwide_gross'] = Budget_file['worldwide_gross'].str.replace(',',"")

In [41]:
Budget_file['worldwide_gross'] = Budget_file['worldwide_gross'].str.replace('$',"")

C:\Users\Thomas.Okiwi\AppData\Local\Temp\ipykernel_12076\2590853093.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Budget_file['worldwide_gross'] = Budget_file['worldwide_gross'].str.replace('$',"")

In [42]:
Budget_file['worldwide_gross'] = Budget_file['worldwide_gross'].str.replace('$',"").astype(float)

C:\Users\Thomas.Okiwi\AppData\Local\Temp\ipykernel_12076\2375990647.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Budget_file['worldwide_gross'] = Budget_file['worldwide_gross'].str.replace('$',"").astype(float)

In [57]:
Budget_file['domestic_gross'] = Budget_file['domestic_gross'].str.replace('$',"")

C:\Users\Thomas.Okiwi\AppData\Local\Temp\ipykernel_12076\2492933893.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Budget_file['domestic_gross'] = Budget_file['domestic_gross'].str.replace('$',"")

In [58]:
Budget_file['domestic_gross'] = Budget_file['domestic_gross'].str.replace(',',"")

In [59]:
Budget_file['domestic_gross'] = Budget_file['domestic_gross'].str.replace('',"").astype(float)

In [50]:
Budget_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 271.2+ KB

#### Replacing the mising values in in the "Budget_file" and renaming it to Budget_file_C not to change the original content

In [60]:
Budget_file=Budget_file.fillna({'production_budget':'production_Meadian',
                                    'domestic_gross':'domestic_Meadian',
                                  'worldwide_gross': 'worldwide_Meadian'
                                   })
Budget_file

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05

In [ ]:
Genre_File.info()

In [ ]:
Genre_File.isna().sum()

### Dropong Null valuues in the genre columnn of Genre_File and remaming it to Genre_File_C, to retain the original content

In [44]:
Genre_File_C=Genre_File.dropna(subset=['genres'])

In [45]:
Genre_File_C.isna().sum()

tconst                 0
primary_title          0
original_title         2
start_year             0
runtime_minutes    28503
genres                 0
dtype: int64

## Checking for duplicates

In [54]:
duplicates = Budget_file[Budget_file.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [id, release_date, movie, production_budget, domestic_gross, worldwide_gross]
Index: []

In [53]:
duplicates = Revenue_File_C[Revenue_File_C.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [title, studio, domestic_gross, foreign_gross, year]
Index: []

In [47]:

duplicates = Movie_vote[Movie_vote.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [Unnamed: 0, genre_ids, id, original_language, original_title, popularity, release_date, title, vote_average, vote_count]
Index: []

In [48]:

duplicates =Genre_File[Genre_File.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [tconst, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [ ]:

duplicates =Movie_rating[Movie_rating.duplicated()]
print(len(duplicates))
duplicates.head()